# Keycloak Production Environment
# IMPORTANTE: Cambiar estos valores en producción

KC_ADMIN_USERNAME=admin
KC_ADMIN_PASSWORD=CAMBIAR_EN_PRODUCCION
KC_HOSTNAME=keycloak.sakenaura.com
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=CAMBIAR_EN_PRODUCCION
